<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
</head>
<body>
   <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" >编辑个人信息
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'drose:主页' %}">返回主页</a></li>
                <li><a href="{% url 'drose:个人中心' %}">回到个人中心</a></li>
                <li><a href="{% url 'drose:编辑个人信息' %}">编辑个人信息</a></li>
                <li><a href="{% url 'drose:修改密码' %}">修改密码</a></li>
                <li><a href="{% url 'drose:登出' %}">登出</a></li>
            </ul>
        </div>
    </div>
    {{ 编辑表单.errors }}
     <form action="" method="POST">
         {% csrf_token %}
        <p><label for="id_username">用户名:</label> <input name="username" id="id_username"  type="text" maxlength="150" value="{{ 用户.username }}"> <span class="helptext">150个字符或者更少。包含字母，数字和仅有的@/./+/-/_符号。</span></p>
        <p><label for="id_email">电子邮件地址:</label> <input name="email" id="id_email" type="email" maxlength="254" value="{{ 用户.email }}"></p>
        <p><label for="id_昵称">昵称:</label> <input name="昵称" id="id_昵称" type="text" maxlength="50" value="{{ 用户.普通会员表.昵称 }}"></p>
        <p><label for="id_生日">生日:</label> <input name="生日" id="id_生日" type="date" value="{{ 用户.普通会员表.生日 }}"></p>
        <button type="submit">提交</button>
    </form>
</body>
</html>
